@model CoviDoc.ViewModels.PatientCreateViewModel

@{
    ViewData["Title"] = "Register Patient";
}

<h4>Register New Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient.FirstName" class="control-label"></label>
                <input asp-for="Patient.FirstName" class="form-control" />
                <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MiddleName" class="control-label"></label>
                <input asp-for="Patient.MiddleName" class="form-control" />
                <span asp-validation-for="Patient.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.LastName" class="control-label"></label>
                <input asp-for="Patient.LastName" class="form-control" />
                <span asp-validation-for="Patient.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.IdNumber" class="control-label"></label>
                <input asp-for="Patient.IdNumber" class="form-control" />
                <span asp-validation-for="Patient.IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.DoB" class="control-label"></label>
                <input asp-for="Patient.DoB" class="form-control" />
                <span asp-validation-for="Patient.DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Gender" class="control-label"></label>
                <select asp-for="Patient.Gender" class="form-control"
                        asp-items="Html.GetEnumSelectList<Enums.Gender>()"><option>-- Select Gender --</option></select>
                <span asp-validation-for="Patient.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Nationality" class="control-label"></label>
                <select asp-for="Patient.Nationality" class="form-control"
                        asp-items="@(new SelectList(Model.Countries, "Value", "Text"))"></select>
                <span asp-validation-for="Patient.Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MobileNumber" class="control-label"></label>
                <input asp-for="Patient.MobileNumber" class="form-control" />
                <span asp-validation-for="Patient.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.County" class="control-label"></label>
                <select asp-for="Patient.County" class="form-control" id="County"
                        asp-items="@(new SelectList(Model.Counties, "Value", "Text"))"></select>
                <span asp-validation-for="Patient.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Constituency" class="control-label"></label>
                <select asp-for="Patient.Constituency" class="form-control" id="Constituency"
                        asp-items="@(new SelectList(Model.Constituencies, "Value", "Text"))"></select>
                <span asp-validation-for="Patient.Constituency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Ward" class="control-label"></label>
                <select asp-for="Patient.Ward" class="form-control" id="Ward"
                        asp-items="@(new SelectList(Model.Wards, "Value", "Text"))"></select>
                <span asp-validation-for="Patient.Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#County').change(function () {
            var selectedCounty = $("#County").val();
            var constituencySelect = $('#Constituency');
            var wardSelect = $('#Ward');
            constituencySelect.empty();
            wardSelect.empty();
            if (selectedCounty != null && selectedCounty != '') {
                $.getJSON('@Url.Action("GetConstituencies")', { CountyId: selectedCounty }, function (constituencies) {
                    if (constituencies != null && !jQuery.isEmptyObject(constituencies)) {
                        constituencySelect.append($('<option/>', {
                            value: null,
                            text: ""
                        }));
                        wardSelect.append($('<option/>', {
                            value: null,
                            text: ""
                        }));
                        $.each(constituencies, function (index, constituency) {
                            constituencySelect.append($('<option/>', {
                                value: constituency.value,
                                text: constituency.text
                            }));
                        });
                    };
                });
            }
        });

        $('#Constituency').change(function () {
            console.log('Hello');
            var selectedCounty = $("#County").val();
            var selectedConstituency = $("#Constituency").val();
            var wardSelect = $('#Ward');
            wardSelect.empty();
            if (selectedCounty != null && selectedCounty != '' &&
                selectedConstituency != null && selectedConstituency != '') {
                $.getJSON('@Url.Action("GetWards")', { CountyId: selectedCounty, ConstituencyId: selectedConstituency }, function (wards) {
                    if (wards != null && !jQuery.isEmptyObject(wards)) {
                        console.log(wards);
                        wardSelect.append($('<option/>', {
                            value: null,
                            text: ""
                        }));
                        $.each(wards, function (index, ward) {
                            wardSelect.append($('<option/>', {
                                value: ward.value,
                                text: ward.text
                            }));
                        });
                    };
                });
            }
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
